<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Website</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <h1>News</h1>


    <form action="/" method="POST">
        <input type="text" name="search" placeholder="Search for news" required>
        <input type="submit" value="Search">
    </form>


    <div class="news-wrapper">

        <% if ( articles != null ) { %>
        <% articles.forEach(function(article, index) { %>
            <div class="news-card">
                
                <% if(article.urlToImage != null) { %>
                    <img src="<%- article.urlToImage %>" alt="<%- article.title %>">
                <% } else { %>
                    <img src="img/default.jpg" alt="<%- article.title %>">
                <% } %>
                
                <h2><%- article.title %></h2>
                <p><%- article.description %></p>
                <a href="<%- index %>" class="button">Read Full Article</a>
            </div>

        <% }) %>
        <% } else { %>
            <p>No news to show.</p>
        <% } %>
 
    </div>


    <% if ( article != "" ) { %>
        <div class="single">
            <% if(article.urlToImage != null ) { %>
                <img src="<%- article.urlToImage %>" alt="<%- article.title %>">
            <% } else { %>
                <img src="img/default.jpg" alt="<%- article.title %>">
            <% } %>
        <h2><%- article.title %></h2>
        <%- article.content %>
        </div>
    <% } %>


</body>
</html>